/* Palette colors */
/* #ffc107;  #1F271B; #D4E97B; #B4E8C3; #7F7B7B*/
.home-container{
    height: 100vh;
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.search-container{
    display: flex;
    gap: 20px;
}

.search{
    width: 200px;
	height: 40px;
}