.card-container{
    display: flex;
    flex-direction: column;
    background: #212f2f;
    border: 1px solid white;
    border-radius: 5px;
    padding: 25px;
    cursor:pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 900;
}
.image{
    width: 200px;
    height: 100px;
}

.nav-link{
    transition: all .3s ease;
}
.nav-link:hover{
    color: white;;
}
p{
    font-weight: 900;
}