.landing-container {
    /* width: 90%; */
    max-width: 1400px;
    margin: 0;
    height: 100vh;
    padding: 0;
    background-image: url('../../assets/countries.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 35px;
    margin: 0;
}

.subtitle{
    font-size: 20px;
}

span{
    color: #ffc107;
}