/* #ffc107;  #1F271B; #D4E97B; #B4E8C3; #7F7B7B*/
.landing-container {
    /* width: 90%; */
    max-width: 1400px;
    margin: 0;
    height: 100vh;
    padding: 0;
    background-image: url('../../assets/world.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 50px;
    font-weight: 700;
    color: #B4E8C3;
    margin: 0;
}

.subtitle{
    font-size: 20px;
}

span{
    color: #D4E97B;
}