.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
    padding: 0 70px;
    margin: 0;
    align-items: center;
  }
  
  .cards-wrapper > div {
    flex-basis: calc(20% - 20px);
    margin-bottom: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .cards-wrapper > div {
      flex-basis: calc(50% - 20px);
    }
  }
  
  @media screen and (max-width: 480px) {
    .cards-wrapper > div {
      flex-basis: calc(100% - 20px);
    }
  }

.pagination-buttons{
    display: flex;
    justify-content: space-between;
    padding: 10px 90px;
    gap: 5px;
}